@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
                                   
/* Main setting*/
html {
  display: grid;
  align-items: center;
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 10px;
}

h4 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #E23D2A;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}



/* ------------------------------------------------------------------------------------------------------------------------ */

.grid-container {
  position: relative;
  max-width: 1200px;
  margin: 140px auto 0 auto;
}

/* konten berita */

header {
  margin: 0 auto;
}

header a {
  text-decoration: none;
  color: #E23D2A;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}
/* -----------------------------------------------------------------------------------------------------------------------*/

/* widget di kiri */

#card {
  padding: 0 40px;
  text-align: left;
}

.card-cover {
  display: flex;
  border-bottom:solid 0.7px rgba(226, 61, 42, 0.5);
  margin: 16px 0 16px 0;
  align-items: center;
  cursor: pointer;
}


.c-img {
  width: 25%;
  border-radius: 8px;
  max-height: 160px;
  object-fit: cover;
}

.c-content {
  padding: 2px;
  width: 75%
}

p.c-title {
  color: #E23D2A !important;
  font-weight: 600;
}
.c-content p{
  margin: 4px;
  line-height: 1.4;
  color: #323232;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
p.c-date {
  opacity: 0.3;
  font-size: 0.8em;
}


/* responsive -----------------------------------------------------------------------------------------------------------------------*/

@media (max-width:900px) {
  .c-img {width: 30%;}
  .c-content {width: 70%}
  .c-content p{-webkit-line-clamp: 4; /* number of lines to show */}
  h1 {font-size: 30px;}
}

@media (max-width:599px) {
  .c-img {width: 40%;}
  .c-content {width: 60%}
  .c-content p{-webkit-line-clamp: 2; /* number of lines to show */}
  p {font-size: 0.7rem;}
}