@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.body{
  background-size: cover;
}
                                   
/* Main setting*/
html {
  display: grid;
  align-items: center;
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 10px;
}

h4 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

p, pre {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}


/* ........STARTBODY............ */

/* start judul */
.container2 {
  width: 50%;
  margin: 0 auto; /* Mengatur jarak kiri dan kanan agar container menjadi tengah secara horizontal */
  margin-top: 100px;
  text-align: justify; /* Mengatur rata kanan dan kiri untuk teks dalam container */
}
.container2 h1 {
  margin: 20px;
}
.container2 h1 span {
  color: #E23D2A;
}

.container2 h1,
.container2 p {
  text-align: center; /* Mengatur teks h1 dan p menjadi di tengah */
}
/* end judul */

/* Start animation Profil */
#slider-container-1 {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.accordion {
  margin-top: 20px;
}

.accordion-header {
  cursor: pointer;
  color: #E23D2A;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
  font-size: 1.4rem;
}

.accordion-content {
  display: block; /* Changed from "none" to show it initially */
}

.slide-description {
  display: none;
}

.slide-description.active {
  display: block;
}

/* Start Resume */
.wrapper{
  max-width: 90%;
  margin: auto;
}

.accordion{
  background-color: white;
  color: black;
  width: 100%;
  transition: 0.4s;
  text-align: justify;
}


.accordion-header:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
/* End Resume */


/* ........ENDBODY............ */

/* STARTFOOTER */
.footer {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #DDDDDD;
  color: #000;
  padding: 30px 0;
}

.footercontainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.footer-content {
text-align: left;
width: 50%;
}

.social-icons {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.footer-bottom {
  margin-top: 20px;
  border-top: solid 2px black;
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer-bottom p, .footer-social {
  margin-top: 20px;
}

/* Responsive Properties */
@media (max-width:800px) {
  /* Responsive Navbar */
  .nav  .nav-btn {
    display: inline-block;
    position: center;
    right: 0px;
    top: 0px;
  }
  .nav  .nav-btn  label {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 50px;
    padding: 15px;
    border: double;
  }
  .nav  .nav-btn  label:hover,.nav  #nav-check:checked ~ .nav-btn  label {
    background-color: rgba(226, 61, 42, 0.3);
    cursor: pointer;
  }
  .nav  .nav-btn  label  span {
    display: block;
    width: 20px;
    height: 5px;
    background-color: #E23D2A;
    border-radius: 5px;
  }
  .nav  .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
  }

  .nav  .nav-links  a {
    display: block;
    width: 100%;
    border-bottom: solid #DDDDDD 1px;
    font-size: 75%;
  }

  .nav  .nav-links  img{
    padding: 10px 0 0 0;
  }
  .nav  #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav  #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y:hidden;
    border-bottom: solid #DDDDDD 3px;
  }

  /* Footer Responsive */
  .footer-content {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
  }

  .footer-bottom p, .footer-content p{
    font-size: 75%;
}
}

/* ENDFOOTER */
