@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.body{
  background-size: cover;
}
                                   
/* Main setting*/
html {
  display: grid;
  align-items: center;
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
}

#h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 10px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}


/* ........STARTBODY............ */

/* start judul */
.container2 {
  width: 70%;
  margin: 0 auto; /* Mengatur jarak kiri dan kanan agar container menjadi tengah secara horizontal */
  margin-top: 100px;
  margin-bottom: 0 auto;
  text-align: justify; /* Mengatur rata kanan dan kiri untuk teks dalam container */
}
.container2 h1 {
  margin: 20px;
}
.container2 h1 span {
  color: crimson;
}

.container2 h1,
.container2 p {
  text-align: center; /* Mengatur teks h1 dan p menjadi di tengah */
}
/* end judul */

/* Start animation Profil */

.carousel .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300vh; /* Set tinggi sesuai tinggi layar */
}

.carousel .carousel-item img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Atur ke 'cover' jika ingin gambar mengisi sepenuhnya */
}
/* end animation profil */

/* ........ENDBODY............ */


